<authentication mode="Forms">
      <forms loginUrl="/Home/Login"></forms>
    </authentication>
    <roleManager enabled="true" defaultProvider="MyProvider">
      <providers>
        <clear/>
        <add name="MyProvider" type="PrepSecurity.MyRoleProvider.SiteRoles" />
      </providers>
    </roleManager>
